h1 {
    color: blue;
    # font-size: 1.3em;
}

h2 {
    font-size: 1em;
}
.zone {
    width: 48%;
    float: left;
}
#info {
    font-size: 1.2em;
    float: left;
}

#invalid_mails {
    width: 100%;
    clear: both;
    padding: 20px 0;
    margin: 20px 0;
    border-style: dotted;
    border-color: red;
}

textarea {
    font-size: 0.9em;
    overflow: auto;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    width: 200px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
    margin-top: 10px;
    margin-bottom: 10px;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 12px 30px 0 rgba(0,0,0,0.19);
}

.btn_disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
