<html>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<head>
<title>Conversion mails en liste 1 par ligne</title>
<link rel="stylesheet" href="static/default.css">
</head>
<body>
<h1>Nettoyage de liste de mails</h1>
Fonctionnalités :
<ul>
    <li>Suppression des caractères de séparation (;&lt;,&gt;,\,",...)</li> 
    <li>suppression des doublons</li>
    <li>vérification des adresses....</li>
    <li>tri alphabétique des mails</li>
</ul>
<br />
<form action="{{ url_for('index') }}" method="post">
    <div class="zone">
    <dt>Collez la liste de mail à convertir dans la zone ci-dessous</dt>
    <dd><textarea name="averifier" placeholder="Collez ici les adresses à vérifier" id="aconvertir" ROWS=20 COLS=60>{{ mails['averifier'] }}</textarea>
    <dt>Options de conversion</dt>
    <dd>
    <input type="checkbox" name="alpha" value="alpha" {% if mails.alpha %}checked{% endif %}>Tri alphabétique</input>
    <input type="checkbox" name="lignes" value="lignes" {% if mails.lignes %}checked{%endif%}>Un mail par ligne</input>
    <input type="checkbox" name="couper" value="couper" {% if mails.lignes %}checked{%endif%}>Séparer tous les 80 mails</input>
    </dd>
    <dd><button id="convert" type=submit>Nettoyer la liste</button></dt>
    </div>
    <div class="zone">
    <dt>Sortie:</dt>
    <dd><textarea name="convertis" placeholder="Les mails valides apparaitront ici" id="convertis" ROWS=20 COLS=60>{{ mails['valides']}}</textarea></dd>
    </div>
</form>
{% if mails['invalides'] %}<div id="invalid_mails"><b>Mails invalides:</b><br />
<ol>
    {% for mail in mails['invalides'] %}<li>{{ mail }}</li>{% endfor %}
</ol>
</div>
{% endif %}
<br /><span id="debug"></span>
</body>
</html>
